.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: linear 1s;
}
.ex-1-square:hover{
    background: red;
    
}

.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 2s linear;
}
.ex-2-square:active{
    width: 100%;
}


.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 2s linear;
}
.ex-3-square:hover{
    border-radius: 50%;
}



.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: 2s linear;
}
.ex-4-square:hover{
   opacity: 0;
}



.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: 2s linear;
}

.ex-5-square:hover{
    scale: 2;
}
.ex-5-square:active{
    scale: 0.5;
}



.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
    transition: 1s linear;
}
.ex-6-img:hover{
    filter: grayscale(1);
}

.ex-7-img:hover{
    filter: invert(1) grayscale(1);
}

.ex-8-img:hover{
    filter: invert(1) grayscale(1);
    border-radius: 20px;
}



.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: 1s linear;
}
.ex-9-img:hover{
    filter: invert(1) grayscale(1);
    border-radius: 20px;
    scale: 1.5;
}




.ex-10-icon {
    font-size: 60px;
    animation-name: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    transition: linear;

}
@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}


.ex-11-icon {
    font-size: 60px;
}
.ex-11-icon:hover{
    
    animation-name: spin-half;
    animation-duration: 2s;
}
@keyframes spin-half{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}




.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

.ex-12-button:hover .ex-12-top-white{
    animation-name: es-12;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 0.5;
}
@keyframes es-12{
    0%{
        top: -10px;
        left: 10%; 
    }
    50%{
        top: -10px;
        left: calc(90% - 60px);
    }
    100%{
        top: -10px;
        left: 10%;
    }
}

.ex-12-button:hover .ex-12-bottom-white{
    animation-name: es-12b;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 0.5;
}
@keyframes es-12b{
    0%{
        bottom: -10px;
        right: 20%; 
    }
    50%{
        bottom: -10px;
        right: calc(90% - 60px);
    }
    100%{
        bottom: -10px;
        right: 20%;
    }
}






.ex-13-button:hover .ex-13-top-white{
    animation-name: es-13;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 0.5;
}
@keyframes es-13{
    0%{
        top: -10px;
        left: 10%;
    }
    25%{
        top:-10px;
        left: calc(100% - 30px);
    }
    50%{
        top: calc(100% - 10px);
        left: calc(100% - 30px);
       
    }
    75%{
        top: calc(100% - 10px);
        left: -10px;
        
    }
    100%{
        top: -10px;
        left: -10px;
        
    }
}


.ex-13-button:hover .ex-13-bottom-white{
    animation-name: es-13b;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 0.5;
    
}
@keyframes es-13b{
    0%{
        bottom: -10px;
        right: 20%;
    }
    25%{
        bottom:-10px;
        right: calc(100% - 30px);
        
    }
    50%{
        bottom: calc(100% - 10px);
        right: calc(100% - 30px);
        
    }
    75%{
        bottom: calc(100% - 10px);
        right: -10px;
        
    }
    100%{
        bottom: -10px;
        right: -10px;
        
    }
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}